@font-face {
    font-family: 'geo';
    src: url('sass/font/TCM____.TTF') format('truetype');         
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geo_bold';
    src: url('sass/font/TCB____.TTF') format('truetype');         
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'geo_italic';
    src: url('sass/font/TCMI___.TTF') format('truetype');         
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'geo_bold_italic';
    src: url('sass/font/TCBI____.TTF') format('truetype');         
    font-weight: bold;
    font-style: italic;
}