.above {
  z-index: 9999;
}
.below {
  z-index: 500;
}

.fade-in {
  animation-name: anim-fade-in;
  animation-duration: 2s;
}

.fade-out {
  animation-name: anim-fade-out;
  animation-duration: 2s;
}

.hidden {
  opacity: 0;
}

@keyframes anim-fade-in {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes anim-fade-out {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}
