*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  background-color: $color-charcoal;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  @include respond(tab-port) {
    padding: 0;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

::selection {
  background-color: $color-blue;
  color: $color-white;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

p > a,
li > a,
#credits a {
  color: $color-blue;
  font-weight: bold;
  transition: 0.2s all;
  &:hover {
    color: $color-grey-mid;
  }
  &:active {
    color: $color-white;
  }
  &:visited {
    color: $color-grey-mid;
  }
}

input {
  width: 10rem;
  padding: 1rem;
  height: 4rem;
  font-weight: bold;
  font-family: $font-primary;
  font-size: 3rem;
}

.center-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
