a.btn {
  font-family: $font-heading;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  background-color: $color-grey-dark;
  color: $color-white;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    background-color: $color-grey-light;
    color: $color-black;
  }
}
