.content {
  grid-area: area-content;

  .course-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

    a {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "area-thumb area-title";

      margin: 0.5rem;
      //height: 30rem;
      width: auto;
      background-color: $color-grey-dark;

      text-decoration: none;
      letter-spacing: 0.3rem;
      transition: 0.2s all;

      &:hover {
        border: 2px solid $color-grey-light;
      }

      @include respond(phone) {
        display: flex;
        flex-direction: column;
      }

      img {
        padding: 1rem;
        grid-area: area-thumb;
        width: 100%;
        height: auto;
        max-height: 100%;
      }
    }
  }

  .title,
  .chapters-heading {
    text-align: center;
    font-family: $font-heading;
    font-size: 6rem;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px $color-black;
  }
  .summary {
    text-align: center;
    font-size: 2rem;
    letter-spacing: normal;
    margin-bottom: 1rem;
  }
  .chapters-heading {
    font-size: 4rem;
  }

  .title-block {
    grid-area: area-title;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    .title,
    .summary {
      color: $color-white;
    }
  }

  .chapters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      margin: 0.5rem;
      height: auto;
      width: 30rem;
      @include respond(phone) {
        width: 100%;
      }
      border: 2px solid $color-grey-dark;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      letter-spacing: 0.3rem;
      transition: 0.2s all;
      position: relative;

      &:hover {
        border: 2px solid $color-grey-light;
        scale: 1.02;
      }
      img {
        width: 100%;
        opacity: 0.7;
      }
      .title-block {
        position: absolute;
        display: flex;
        flex-direction: column;

        .title,
        .subtitle {
          text-align: center;
          color: white;
          font-family: $font-heading;
          text-transform: uppercase;
          font-size: 4rem;
          text-shadow: 3px 3px 3px $color-black;
        }

        .title {
          font-size: 6rem;
        }

        .subtitle {
          font-size: 3.5rem;
          @include respond(phone) {
            font-size: 5rem;
          }
        }
      }
    }
  }
}

.chapter {
  .series-title {
    margin: 1rem;
    text-align: center;
  }

  .video-heading {
    display: flex;
    justify-content: center;
    padding: 4rem 0 1rem;
  }

  .video-cont {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  p,
  h3 {
    margin: 2rem;
  }

  ul,
  ol {
    margin: 0 2rem;
    li {
      margin: 0 2rem;
    }
  }

  em {
    font-style: italic;
    font-weight: 700;
  }

  .chapter-navigation {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
  }
}

.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
  padding: 2rem;
}

.contact,
.about,
.home-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  p,
  ul {
    padding: 1rem;
    width: 60%;
    min-width: 375px;
  }
  ul {
    width: 50%;
  }
}

.about {
  img {
    width: 300px;
    max-width: 40%;
  }
}

.home-text {
  margin-top: 52rem;
  ul,
  li,
  p {
    text-align: center;
    font-size: 2.2rem;
  }
}

.support {
  background-color: $color-grey-dark;
  padding: 2rem;
}

#credits {
  text-align: left;
  margin: 2rem;
  h4 {
    margin: 1rem 0;
  }

  font-size: 1.7rem;
  //margin-left: 1rem;
}
