.header {
  padding: 2rem;
  grid-area: area-header;
  background-color: $color-black;

  display: grid;
  grid-template-areas: "logo titles util" "logo menu util";
  grid-template-columns: 1fr auto 1fr;

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-end;
    grid-area: logo;
    
    img {
      width: 10rem;
      height: 10rem;
      margin-right: 3rem;

      @include respond(tab-land) {
        width: 6rem;
        height: 6rem;
        margin-right: 1rem;
      }
    }
  }

  .titles {
    grid-area: titles;
    display: flex;
    flex-flow: column nowrap;    
    align-items: center;
    margin: 0;
    padding: 0;
    

    .title {
      font-family: $font-heading;
      letter-spacing: 2rem;
      font-size: 6rem;
      text-transform: uppercase;
      color: $color-white;     
      
      @include respond(tab-land) {
        font-size: 5rem;
      }
    
      @include respond(tab-port) {
        font-size: 4rem;
      }
      
      @include respond(big-desktop) {
        font-size: 8rem;
      }
    }

    .sub-title {
      grid-area: sub-title;
      font-size: 2rem;
      font-family: $font-heading;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .util {
    grid-area: util;
    
  }

  .menu {
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    margin-top: 1rem;
    
  }
}
