.fader-cont {
  position: relative;
  .hero-cont {
    color: $color-white;
    position: absolute;
  }
}

.hero {
  width: 100%;
  position: relative;
  clear: both;
  //min-height: 50rem; // calc(vw * 9 / 16);

  .crop-height {
    max-height: 50rem;
    overflow: hidden;

    img {
      width: 100%;
      max-width: 100%;
      height: auto !important;
      opacity: 0.7;
    }
  }
  a {
    color: red;
  }
  .text {
    z-index: 99;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    align-content: center;
    font-family: $font-heading;
    text-align: center;

    .series-title {
      letter-spacing: 0.8rem;
      font-size: 4rem;
      text-transform: uppercase;
      text-shadow: 3px 3px 3px $color-black;
      margin-bottom: 1rem;
      @include respond(phone) {
        font-size: 3rem;
      }
    }
    .series-chapter {
      letter-spacing: 0.5rem;
      font-size: 3rem;
      text-transform: uppercase;
      text-shadow: 3px 3px 3px $color-black;
      margin-bottom: 1rem;
      @include respond(phone) {
        font-size: 2rem;
      }
    }
    .heading {
      letter-spacing: 1.7rem;
      font-size: 8rem;
      text-transform: uppercase;
      text-shadow: 5px 5px 5px $color-black;      
      @include respond(phone) {
        font-size: 5rem;
        letter-spacing: 1rem;
      }
    }
    .sub {
      letter-spacing: 0.5rem;
      font-size: 3rem;
      text-shadow: 3px 3px 3px $color-black;
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}

.chapter-image-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.chapter-image-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 52rem;
  max-width: 100%;
  @include respond(phone) {    
    width: 96%;
  }

  background-color: $color-grey-dark;
  margin: 1rem;
  padding: 1rem;
  transition: 0.2s all;

  &:hover {
    background-color: $color-grey-mid;
    scale: 1.05;
  }

  .chapter-image {
    //width: 43rem;
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }

  .caption {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    //font-style: italic;
  }
}

.image-popup {
  position: fixed;
  cursor: alias;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, 0.7);
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    z-index: 998;
    max-width: 100vw;
    max-height: 100vh;
  }
  .caption {
    text-align: center;
    position: absolute;
    bottom: 5rem;
    padding: 1rem 3rem;
    background-color: $color-grey-dark;
    font-size: 2.5rem;
    font-weight: bold;
    z-index: 1000;
  }
}
