body {
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;

  grid-template-areas: "area-header" "area-content" "area-footer";  

  //position: relative;
}

.footer {
  z-index: 990;
  grid-area: area-footer;
  height: 3rem;
  background-color: $color-grey-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-heading;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

