

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.5rem;
//   line-height: 1.7;
  color: $color-primary;
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.7rem;
}

p, li {
  font-size: 2rem;
  &::selection {
    background-color: $color-blue;
  }
}
