@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;700&family=Roboto+Slab:wght@400;700&family=Rokkitt:wght@400;700&family=Zilla+Slab:wght@400;700&display=swap");

$color-black: rgb(0,0,0);
$color-charcoal:rgb(20,20,20);
$color-grey-dark: rgb(64,64,64);
$color-grey-mid: rgb(128,128,128);
$color-grey-light: rgb(192,192,192);
$color-white: rgb(220,220,220);
$color-blue: rgb(79,133,222);

$color-primary: $color-white;

// $font-primary: 'Hepta Slab', serif;
// $font-primary: 'Roboto Slab', serif;
// $font-primary: 'Rokkitt', serif;
$font-primary: 'Zilla Slab', serif;

$font-heading: "geo";
