@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;700&family=Roboto+Slab:wght@400;700&family=Rokkitt:wght@400;700&family=Zilla+Slab:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "geo";
  src: url("sass/font/TCM____.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geo_bold";
  src: url("sass/font/TCB____.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "geo_italic";
  src: url("sass/font/TCMI___.TTF") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "geo_bold_italic";
  src: url("sass/font/TCBI____.TTF") format("truetype");
  font-weight: bold;
  font-style: italic;
}
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #141414;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

::selection {
  background-color: #4f85de;
  color: gainsboro;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

p > a,
li > a,
#credits a {
  color: #4f85de;
  font-weight: bold;
  transition: 0.2s all;
}
p > a:hover,
li > a:hover,
#credits a:hover {
  color: gray;
}
p > a:active,
li > a:active,
#credits a:active {
  color: gainsboro;
}
p > a:visited,
li > a:visited,
#credits a:visited {
  color: gray;
}

input {
  width: 10rem;
  padding: 1rem;
  height: 4rem;
  font-weight: bold;
  font-family: "Zilla Slab", serif;
  font-size: 3rem;
}

.center-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

a.btn {
  font-family: "geo";
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  background-color: #404040;
  color: gainsboro;
  text-decoration: none;
  transition: all 0.3s;
}
a.btn:hover {
  background-color: silver;
  color: black;
}

body {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: gainsboro;
}

h1,
h2,
h3,
h4 {
  font-family: "geo";
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.7rem;
}

p, li {
  font-size: 2rem;
}
p::selection, li::selection {
  background-color: #4f85de;
}

body {
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "area-header" "area-content" "area-footer";
}

.footer {
  z-index: 990;
  grid-area: area-footer;
  height: 3rem;
  background-color: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "geo";
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.header {
  padding: 2rem;
  grid-area: area-header;
  background-color: black;
  display: grid;
  grid-template-areas: "logo titles util" "logo menu util";
  grid-template-columns: 1fr auto 1fr;
}
.header .logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: flex-end;
  grid-area: logo;
}
.header .logo img {
  width: 10rem;
  height: 10rem;
  margin-right: 3rem;
}
@media only screen and (max-width: 75em) {
  .header .logo img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
  }
}
.header .titles {
  grid-area: titles;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header .titles .title {
  font-family: "geo";
  letter-spacing: 2rem;
  font-size: 6rem;
  text-transform: uppercase;
  color: gainsboro;
}
@media only screen and (max-width: 75em) {
  .header .titles .title {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .header .titles .title {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .header .titles .title {
    font-size: 8rem;
  }
}
.header .titles .sub-title {
  grid-area: sub-title;
  font-size: 2rem;
  font-family: "geo";
  text-transform: uppercase;
  text-align: center;
}
.header .util {
  grid-area: util;
}
.header .menu {
  grid-area: menu;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.content {
  grid-area: area-content;
}
.content .course-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}
.content .course-list a {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "area-thumb area-title";
  margin: 0.5rem;
  width: auto;
  background-color: #404040;
  text-decoration: none;
  letter-spacing: 0.3rem;
  transition: 0.2s all;
}
.content .course-list a:hover {
  border: 2px solid silver;
}
@media only screen and (max-width: 37.5em) {
  .content .course-list a {
    display: flex;
    flex-direction: column;
  }
}
.content .course-list a img {
  padding: 1rem;
  grid-area: area-thumb;
  width: 100%;
  height: auto;
  max-height: 100%;
}
.content .title,
.content .chapters-heading {
  text-align: center;
  font-family: "geo";
  font-size: 6rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px black;
}
.content .summary {
  text-align: center;
  font-size: 2rem;
  letter-spacing: normal;
  margin-bottom: 1rem;
}
.content .chapters-heading {
  font-size: 4rem;
}
.content .title-block {
  grid-area: area-title;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.content .title-block .title,
.content .title-block .summary {
  color: gainsboro;
}
.content .chapters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content .chapters-list a {
  margin: 0.5rem;
  height: auto;
  width: 30rem;
  border: 2px solid #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.3rem;
  transition: 0.2s all;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .content .chapters-list a {
    width: 100%;
  }
}
.content .chapters-list a:hover {
  border: 2px solid silver;
  scale: 1.02;
}
.content .chapters-list a img {
  width: 100%;
  opacity: 0.7;
}
.content .chapters-list a .title-block {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.content .chapters-list a .title-block .title,
.content .chapters-list a .title-block .subtitle {
  text-align: center;
  color: white;
  font-family: "geo";
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 3px 3px 3px black;
}
.content .chapters-list a .title-block .title {
  font-size: 6rem;
}
.content .chapters-list a .title-block .subtitle {
  font-size: 3.5rem;
}
@media only screen and (max-width: 37.5em) {
  .content .chapters-list a .title-block .subtitle {
    font-size: 5rem;
  }
}

.chapter .series-title {
  margin: 1rem;
  text-align: center;
}
.chapter .video-heading {
  display: flex;
  justify-content: center;
  padding: 4rem 0 1rem;
}
.chapter .video-cont {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 56.25%;
}
.chapter .video-cont iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.chapter p,
.chapter h3 {
  margin: 2rem;
}
.chapter ul,
.chapter ol {
  margin: 0 2rem;
}
.chapter ul li,
.chapter ol li {
  margin: 0 2rem;
}
.chapter em {
  font-style: italic;
  font-weight: 700;
}
.chapter .chapter-navigation {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
  padding: 2rem;
}

.contact,
.about,
.home-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}
.contact p,
.contact ul,
.about p,
.about ul,
.home-text p,
.home-text ul {
  padding: 1rem;
  width: 60%;
  min-width: 375px;
}
.contact ul,
.about ul,
.home-text ul {
  width: 50%;
}

.about img {
  width: 300px;
  max-width: 40%;
}

.home-text {
  margin-top: 52rem;
}
.home-text ul,
.home-text li,
.home-text p {
  text-align: center;
  font-size: 2.2rem;
}

.support {
  background-color: #404040;
  padding: 2rem;
}

#credits {
  text-align: left;
  margin: 2rem;
  font-size: 1.7rem;
}
#credits h4 {
  margin: 1rem 0;
}

.fader-cont {
  position: relative;
}
.fader-cont .hero-cont {
  color: gainsboro;
  position: absolute;
}

.hero {
  width: 100%;
  position: relative;
  clear: both;
}
.hero .crop-height {
  max-height: 50rem;
  overflow: hidden;
}
.hero .crop-height img {
  width: 100%;
  max-width: 100%;
  height: auto !important;
  opacity: 0.7;
}
.hero a {
  color: red;
}
.hero .text {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "geo";
  text-align: center;
}
.hero .text .series-title {
  letter-spacing: 0.8rem;
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px black;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .hero .text .series-title {
    font-size: 3rem;
  }
}
.hero .text .series-chapter {
  letter-spacing: 0.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px black;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .hero .text .series-chapter {
    font-size: 2rem;
  }
}
.hero .text .heading {
  letter-spacing: 1.7rem;
  font-size: 8rem;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px black;
}
@media only screen and (max-width: 37.5em) {
  .hero .text .heading {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}
.hero .text .sub {
  letter-spacing: 0.5rem;
  font-size: 3rem;
  text-shadow: 3px 3px 3px black;
}
@media only screen and (max-width: 37.5em) {
  .hero .text .sub {
    font-size: 2rem;
  }
}

.chapter-image-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.chapter-image-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 52rem;
  max-width: 100%;
  background-color: #404040;
  margin: 1rem;
  padding: 1rem;
  transition: 0.2s all;
}
@media only screen and (max-width: 37.5em) {
  .chapter-image-cont {
    width: 96%;
  }
}
.chapter-image-cont:hover {
  background-color: gray;
  scale: 1.05;
}
.chapter-image-cont .chapter-image {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.chapter-image-cont .caption {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}

.image-popup {
  position: fixed;
  cursor: alias;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-popup img {
  z-index: 998;
  max-width: 100vw;
  max-height: 100vh;
}
.image-popup .caption {
  text-align: center;
  position: absolute;
  bottom: 5rem;
  padding: 1rem 3rem;
  background-color: #404040;
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 1000;
}

.above {
  z-index: 9999;
}

.below {
  z-index: 500;
}

.fade-in {
  animation-name: anim-fade-in;
  animation-duration: 2s;
}

.fade-out {
  animation-name: anim-fade-out;
  animation-duration: 2s;
}

.hidden {
  opacity: 0;
}

@keyframes anim-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=index.css.map */
